/* Global Styles */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

header {
  background-color: #223843;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

ul {
  list-style: disc;
  margin: 20px 0;
  padding-left: 20px;
}

ul li {
  margin: 10px 0;
}

button, a.button {
  background-color: #223843;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

button:hover, a.button:hover {
  background-color: #4f5b66;
}

blockquote {
  font-size: 18px;
  font-style: italic;
  margin: 20px 0;
}

cite {
  display: block;
  font-size: 16px;
  font-style: normal;
  text-align: right;
}

